<div class="page-tables padding">

  <div class="head margin-top">
    <h2>Tables</h2>
    <p class="font-lg text-medium-shade">Display tables.</p>
  </div>
  
  <div class="imports margin-top">
    <app-code
      title="Minimum imports:"
      showLang="css"
      htmlCode="&#x3C;link rel=&#x22;stylesheet&#x22; href=&#x22;https://unpkg.com/@lamnhan/unistylus@latest/css/content/table.css&#x22;&#x3E;"
      htmlLabel="CSS"
      cssCode="@import '~@lamnhan/unistylus/src/scss/content/table';"
      cssLabel="SCSS"
    ></app-code>
  </div>

  <section class="section-1 margin-top-2x">

    <div class="content">
      <h2>Tables</h2>
    </div>

    <div class="code">
  
      <div class="source">
        <p><strong>.table</strong></p>
        <table class="table">
          <thead><tr><th>#</th><th>Name</th><th>Age</th></tr></thead>
          <tbody>
            <tr><th>1</th><td>Alex</td><td>10</td></tr>
            <tr><th>2</th><td>Bob</td><td>7</td></tr>
            <tr><th>3</th><td>Chris</td><td>12</td></tr>
          </tbody>
        </table>
        <p class="margin-top-2x"><strong>.table-primary</strong></p>
        <table class="table-primary">
          <thead><tr><th>#</th><th>Name</th><th>Age</th></tr></thead>
          <tbody>
            <tr><th>1</th><td>Alex</td><td>10</td></tr>
            <tr><th>2</th><td>Bob</td><td>7</td></tr>
            <tr><th>3</th><td>Chris</td><td>12</td></tr>
          </tbody>
        </table>
      </div>
  
      <div class="display">
        <app-code htmlCode="&#x3C;table class=&#x22;table&#x22;&#x3E;...&#x3C;/table&#x3E;"></app-code>
      </div>
  
    </div>
  </section>

  <section class="section-2 margin-top-2x">

    <div class="content">
      <h2>Borderless</h2>
    </div>

    <div class="code">
  
      <div class="source">
        <p><strong>.table-borderless</strong></p>
        <table class="table-borderless">
          <thead><tr><th>#</th><th>Name</th><th>Age</th></tr></thead>
          <tbody>
            <tr><th>1</th><td>Alex</td><td>10</td></tr>
            <tr><th>2</th><td>Bob</td><td>7</td></tr>
            <tr><th>3</th><td>Chris</td><td>12</td></tr>
          </tbody>
        </table>
        <p class="margin-top-2x"><strong>.table-borderless-secondary</strong></p>
        <table class="table-borderless-secondary">
          <thead><tr><th>#</th><th>Name</th><th>Age</th></tr></thead>
          <tbody>
            <tr><th>1</th><td>Alex</td><td>10</td></tr>
            <tr><th>2</th><td>Bob</td><td>7</td></tr>
            <tr><th>3</th><td>Chris</td><td>12</td></tr>
          </tbody>
        </table>
      </div>
  
      <div class="display">
        <app-code htmlCode="&#x3C;table class=&#x22;table-borderless&#x22;&#x3E;...&#x3C;/table&#x3E;"></app-code>
      </div>
  
    </div>
  </section>

  <section class="section-3 margin-top-2x">

    <div class="content">
      <h2>Bordered</h2>
    </div>

    <div class="code">
  
      <div class="source">
        <p><strong>.table-bordered</strong></p>
        <table class="table-bordered">
          <thead><tr><th>#</th><th>Name</th><th>Age</th></tr></thead>
          <tbody>
            <tr><th>1</th><td>Alex</td><td>10</td></tr>
            <tr><th>2</th><td>Bob</td><td>7</td></tr>
            <tr><th>3</th><td>Chris</td><td>12</td></tr>
          </tbody>
        </table>
        <p class="margin-top-2x"><strong>.table-bordered-success</strong></p>
        <table class="table-bordered-success">
          <thead><tr><th>#</th><th>Name</th><th>Age</th></tr></thead>
          <tbody>
            <tr><th>1</th><td>Alex</td><td>10</td></tr>
            <tr><th>2</th><td>Bob</td><td>7</td></tr>
            <tr><th>3</th><td>Chris</td><td>12</td></tr>
          </tbody>
        </table>
      </div>
  
      <div class="display">
        <app-code htmlCode="&#x3C;table class=&#x22;table-bordered&#x22;&#x3E;...&#x3C;/table&#x3E;"></app-code>
      </div>
  
    </div>
  </section>

  <section class="section-4 margin-top-2x">

    <div class="content">
      <h2>Striped</h2>
    </div>

    <div class="code">
  
      <div class="source">
        <p><strong>.table-striped</strong></p>
        <table class="table-striped">
          <thead><tr><th>#</th><th>Name</th><th>Age</th></tr></thead>
          <tbody>
            <tr><th>1</th><td>Alex</td><td>10</td></tr>
            <tr><th>2</th><td>Bob</td><td>7</td></tr>
            <tr><th>3</th><td>Chris</td><td>12</td></tr>
          </tbody>
        </table>
        <p class="margin-top-2x"><strong>.table-striped-danger</strong></p>
        <table class="table-striped-danger">
          <thead><tr><th>#</th><th>Name</th><th>Age</th></tr></thead>
          <tbody>
            <tr><th>1</th><td>Alex</td><td>10</td></tr>
            <tr><th>2</th><td>Bob</td><td>7</td></tr>
            <tr><th>3</th><td>Chris</td><td>12</td></tr>
          </tbody>
        </table>
      </div>
  
      <div class="display">
        <app-code htmlCode="&#x3C;table class=&#x22;table-striped&#x22;&#x3E;...&#x3C;/table&#x3E;"></app-code>
      </div>
  
    </div>
  </section>

  <section class="section-5 margin-top-2x">

    <div class="content">
      <h2>Hover</h2>
    </div>

    <div class="code">
  
      <div class="source">
        <p><strong>.table-hover</strong></p>
        <table class="table-hover">
          <thead><tr><th>#</th><th>Name</th><th>Age</th></tr></thead>
          <tbody>
            <tr><th>1</th><td>Alex</td><td>10</td></tr>
            <tr><th>2</th><td>Bob</td><td>7</td></tr>
            <tr><th>3</th><td>Chris</td><td>12</td></tr>
          </tbody>
        </table>
        <p class="margin-top-2x"><strong>.table-hover-warning</strong></p>
        <table class="table-hover-warning">
          <thead><tr><th>#</th><th>Name</th><th>Age</th></tr></thead>
          <tbody>
            <tr><th>1</th><td>Alex</td><td>10</td></tr>
            <tr><th>2</th><td>Bob</td><td>7</td></tr>
            <tr><th>3</th><td>Chris</td><td>12</td></tr>
          </tbody>
        </table>
      </div>
  
      <div class="display">
        <app-code htmlCode="&#x3C;table class=&#x22;table-hover&#x22;&#x3E;...&#x3C;/table&#x3E;"></app-code>
      </div>
  
    </div>
  </section>

</div>


