<div class="page-typography padding">
  
  <section class="section-1">

    <h2 class="margin-bottom">Paragraphs</h2>
  
    <div class="code">
  
      <div class="source" #code1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta beatae quia, dolorem obcaecati fugit repudiandae
          placeat alias ea soluta deserunt atque animi, impedit numquam quos distinctio cumque voluptatibus libero.
          Corrupti?</p>      
        <p><a href="#">This is a link!</a></p>
      </div>
  
    </div>
  
  </section>

  <section class="section-2 margin-top-2x">

    <h2 class="margin-bottom">Headings</h2>

    <div class="code">
  
      <div class="source" #code2>
        <h1>h1. Typography</h1><br>
        <h2>h2. Typography</h2><br>
        <h3>h3. Typography</h3><br>
        <h4>h4. Typography</h4><br>
        <h5>h5. Typography</h5><br>
        <h6>h6. Typography</h6>
      </div>
  
      <pre class="display"><code>{{codeService.extractCode(code2)}}</code></pre>
  
    </div>
  </section>

</div>

