/// a fluid image
.img {
  border-radius: var(--app-size-radius);
  width: 100%;
  max-width: 100%;
  height: auto;
}

/// fluid image with caption
.figure {

  &-caption {
    font-size: .9rem;
    padding-top: calc(.5 * var(--app-size-padding));
    padding-bottom: calc(.5 * var(--app-size-padding));
    color: var(--app-color-medium);
  }
}
