.image {
  border-radius: var(--app-size-radius);
  width: 100%;
  max-width: 100%;
  height: auto;
}

.figure {

  &-caption {
    font-size: .9rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: var(--app-color-medium);
  }
}
