@mixin input($palette: 'medium') {
  @include border($palette);
  display: block;
  border-radius: var(--app-size-radius);
  color: var(--app-color-foreground);
  width: 100%;
  padding: .5rem;
  &:focus {
    outline: 0;
  }
}

@mixin form($palette: 'light') {
  label {
    display: block;
    margin-top: .5rem;
    span {
      display: block;
      color: var(--app-color-medium);
      font-size: 1rem;
      padding: .5rem 0;
    }
    &.required {
      span {
        &::after {
          content: '(*)';
          display: inline-block;
          margin-left: .3rem;
          font-size: .8rem;
          margin-top: -.1rem;
          position: absolute;
          font-weight: 700;
        }
      }
    }
  }
  input, textarea {
    @include input($palette);
  }
  button {
    @include button($palette);
  }
  // advanced options
  .advanced {
    height: 3rem;
    overflow: hidden;
    .toggler {
      padding: 1rem 1rem 0;
      text-align: center;
      font-style: italic;
    }
    &.active {
      height: 100%;
    }
  }
}
