@mixin light_properties {
  --app-color-background: var(--app-color-light);
  --app-color-background-rgb: var(--app-color-light-rgb);
  --app-color-background-contrast: var(--app-color-light-contrast);
  --app-color-background-contrast-rgb: var(--app-color-light-contrast-rgb);
  --app-color-background-shade: var(--app-color-light-shade);
  --app-color-background-tint: var(--app-color-light-tint);
  --app-color-foreground: var(--app-color-dark);
  --app-color-foreground-rgb: var(--app-color-dark-rgb);
  --app-color-foreground-contrast: var(--app-color-dark-contrast);
  --app-color-foreground-contrast-rgb: var(--app-color-dark-contrast-rgb);
  --app-color-foreground-shade: var(--app-color-dark-shade);
  --app-color-foreground-tint: var(--app-color-dark-tint);
}
