<section class="margin-top">
  <h2 class="border-bottom padding-bottom margin-top-3x margin-bottom">Buttons</h2>

  <div>
    <h3>Colors</h3>

    <div>
      <button type="button" class="button">Default</button>
      <button type="button" class="button-primary margin-left">Primary</button>
      <button type="button" class="button-secondary margin-left">Secondary</button>
      <button type="button" class="button-tertiary margin-left">Tertiaty</button>
      <button type="button" class="button-success margin-left">Success</button>
      <button type="button" class="button-danger margin-left">Danger</button>
      <button type="button" class="button-warning margin-left">Warning</button>
      <button type="button" class="button-dark margin-left">Dark</button>
      <button type="button" class="button-medium margin-left">Medium</button>
      <button type="button" class="button-light margin-left">Light</button>
      <button type="button" class="button-link margin-left">Link</button>
    </div>

    <div class="margin-top">
      <button type="button" class="button-primary background-gradient-primary">Primary (gradient)</button>
      <button type="button" class="button-secondary background-gradient-secondary margin-left">Secondary</button>
      <button type="button" class="button-tertiary background-gradient-tertiary margin-left">Tertiaty</button>
      <button type="button" class="button-success background-gradient-success margin-left">Success</button>
      <button type="button" class="button-danger background-gradient-danger margin-left">Danger</button>
      <button type="button" class="button-warning background-gradient-warning margin-left">Warning</button>
      <button type="button" class="button-dark background-gradient-dark margin-left">Dark</button>
      <button type="button" class="button-medium background-gradient-medium margin-left">Medium</button>
      <button type="button" class="button-light background-gradient-light margin-left">Light</button>
    </div>
  </div>


  <div class="margin-top">
    <h3>Outline</h3>

    <div>
      <button type="button" class="button-outline">Default</button>
      <button type="button" class="button-outline-primary margin-left">Primary</button>
      <button type="button" class="button-outline-secondary margin-left">Secondary</button>
      <button type="button" class="button-outline-tertiary margin-left">Tertiary</button>
      <button type="button" class="button-outline-success margin-left">Success</button>
      <button type="button" class="button-outline-danger margin-left">Danger</button>
      <button type="button" class="button-outline-warning margin-left">Warning</button>
      <button type="button" class="button-outline-dark margin-left">Dark</button>
      <button type="button" class="button-outline-medium margin-left">Medium</button>
      <button type="button" class="button-outline-light margin-left">Light</button>
    </div>

    <div class="margin-top">
      <button type="button" class="button-outline ease-all">Default (ease)</button>
      <button type="button" class="button-outline-primary ease-all-short margin-left">Primary (short)</button>
      <button type="button" class="button-outline-secondary ease-all-long margin-left">Secondary (long)</button>
      <button type="button" class="button-outline-tertiary ease-all margin-left">Tertiary</button>
      <button type="button" class="button-outline-success ease-all margin-left">Success</button>
      <button type="button" class="button-outline-danger ease-all margin-left">Danger</button>
      <button type="button" class="button-outline-warning ease-all margin-left">Warning</button>
      <button type="button" class="button-outline-dark ease-all margin-left">Dark</button>
      <button type="button" class="button-outline-medium ease-all margin-left">Medium</button>
      <button type="button" class="button-outline-light ease-all margin-left">Light</button>
    </div>
  </div>

  <div class="margin-top">
    <h3>Size</h3>

    <div>
      <button type="button" class="button-xs">Tiny</button>
      <button type="button" class="button-primary-sm margin-left">Small</button>
      <button type="button" class="button-secondary margin-left">Normal</button>
      <button type="button" class="button-tertiary-lg margin-left">Large</button>
      <button type="button" class="button-success-xl margin-left">Extra large</button>
    </div>

    <div class="margin-top">
      <button type="button" class="button-outline-xs">Tiny</button>
      <button type="button" class="button-outline-primary-sm margin-left">Small</button>
      <button type="button" class="button-outline-secondary margin-left">Normal</button>
      <button type="button" class="button-outline-tertiary-lg margin-left">Large</button>
      <button type="button" class="button-outline-success-xl margin-left">Extra large</button>
    </div>
  </div>

  <div class="margin-top">
    <h3>Pills</h3>

    <div>
      <button type="button" class="button-xs border-pill">Tiny</button>
      <button type="button" class="button-primary-sm border-pill margin-left">Small</button>
      <button type="button" class="button-success border-pill margin-left">Normal</button>
      <button type="button" class="button-warning-lg border-pill margin-left">Large</button>
      <button type="button" class="button-danger-xl border-pill margin-left">Extra large</button>
    </div>

    <div class="margin-top">
      <button type="button" class="button-outline-xs border-pill">Tiny</button>
      <button type="button" class="button-outline-primary-sm border-pill margin-left">Small</button>
      <button type="button" class="button-outline-success border-pill margin-left">Normal</button>
      <button type="button" class="button-outline-warning-lg border-pill margin-left">Large</button>
      <button type="button" class="button-outline-danger-xl border-pill margin-left">Extra large</button>
    </div>
  </div>

  <div class="margin-top">
    <h3>Sharps</h3>

    <div>
      <button type="button" class="button-xs border-sharp">Tiny</button>
      <button type="button" class="button-primary-sm border-sharp margin-left">Small</button>
      <button type="button" class="button-success border-sharp margin-left">Normal</button>
      <button type="button" class="button-warning-lg border-sharp margin-left">Large</button>
      <button type="button" class="button-danger-xl border-sharp margin-left">Extra large</button>
    </div>

    <div class="margin-top">
      <button type="button" class="button-outline-xs border-sharp">Tiny</button>
      <button type="button" class="button-outline-primary-sm border-sharp margin-left">Small</button>
      <button type="button" class="button-outline-success border-sharp margin-left">Normal</button>
      <button type="button" class="button-outline-warning-lg border-sharp margin-left">Large</button>
      <button type="button" class="button-outline-danger-xl border-sharp margin-left">Extra large</button>
    </div>
  </div>

</section>
