$default_icons: (
  ok: 'https://img.icons8.com/ios-glyphs/32/000000/ok.png',
  github: 'https://img.icons8.com/material-sharp/32/000000/github.png',
  right: 'https://img.icons8.com/ios-glyphs/32/000000/chevron-right.png'
);

// light theme
$light_theme_icons: $default_icons;

// dark theme
$dark_theme_icons: (
  ok: 'https://img.icons8.com/ios-glyphs/32/ffffff/ok.png',  
  github: 'https://img.icons8.com/material-sharp/32/ffffff/github.png',
  right: 'https://img.icons8.com/ios-glyphs/32/ffffff/chevron-right.png'
);
