@import '../../../projects/unistylus/src/scss/mixins';
@import './app.data';

$icon_groups: (
  default: $light_theme_icons,
  light: $light_theme_icons,
  dark: $dark_theme_icons,
);
@include register_app_icons($icon_groups);
