<header class="padding">
  <div class="brand">
    <a [routerLink]="['/']">
      <em><img src="/assets/images/logo.svg" alt="Unisylus"></em>
      <span class="font-head">nistylus</span>
    </a>
  </div>
  <ul class="nav">
    <li>
      <a href="https://lamnhan.com/hire" target="_blank">
        <em>Hire me</em>
        <span>Hire me</span>
      </a>
    </li>
    <li>
      <a href="https://lamnhan.com/donate" target="_blank">
        <em>Buy coffee</em>
        <span>Buy me coffee</span>
      </a>
    </li>
    <li>
      <a href="https://github.com/lamnhan/unistylus" target="_blank">
        <i class="icon icon-github"></i>
        <span>Source code</span>
      </a>
    </li>
  </ul>
</header>
