@import '../variables';

@mixin alert_base {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 1rem;
  border-radius: var(--app-size-radius);
  font-weight: 500;
  background: rgba(var(--app-color-medium-rgb), .3);
  color: var(--app-color-medium-shade);
  border: var(--app-size-border) solid var(--app-color-medium);
  
  em {
    display: block;
    flex: 1;
  }
}

.alert {

  // fill alerts
  & {

    /// .alert
    & {
      @include alert_base();
    }

    // ---
    @each $palette in $palettes {

      /// .alert-primary
      &-#{$palette} {
        @include alert_base();

        & {
          background: rgba(var(--app-color-#{$palette}-rgb), .3);
          color: var(--app-color-#{$palette}-shade);
          border: var(--app-size-border) solid var(--app-color-#{$palette});
        }
      }
    }
  }

  // outline alerts
  &-outline {

    /// .alert-outline
    & {
      @include alert_base();

      & {
        background: none;
      }
    }

    // ---
    @each $palette in $palettes {

      /// .alert-outline-primary
      &-#{$palette} {
        @include alert_base();

        & {
          background: none;
          color: var(--app-color-#{$palette}-shade);
          border: var(--app-size-border) solid var(--app-color-#{$palette});
        }
      }
    }
  }

}