@import '../variables';

@mixin make_size_variants($variant_ratio) {
  padding: (.375rem * $variant_ratio) (.75rem * $variant_ratio);
  font-size: calc(#{$variant_ratio} * var(--app-size-font));
}

@mixin button_shared {
  display: inline-block;
  border: none;
  border-radius: var(--app-size-radius);
  padding: .375rem .75rem;

  & + & {
    margin-right: .5rem;
  }

  &:focus {
    outline: 0;
  }
}

@mixin button_fill_shared($palette) {
  background: var(--app-color-#{$palette});
  color: var(--app-color-#{$palette}-contrast);
  
  &:hover, &:focus {
    background: var(--app-color-#{$palette}-shade);
    color: var(--app-color-#{$palette}-contrast);
    text-decoration: none;
  }

  &:focus {
    box-shadow: 0 0 0 .25rem rgba(var(--app-color-#{$palette}-rgb), .3);
  }
}

@mixin button_outline_shared($palette) {
  background: none;
  border: var(--app-size-border) solid var(--app-color-#{$palette});
  color: var(--app-color-#{$palette});

  &:hover, &:focus {
    background: var(--app-color-#{$palette});
    color: var(--app-color-#{$palette}-contrast);
    text-decoration: none;
  }

  &:focus {
    box-shadow: 0 0 0 .25rem rgba(var(--app-color-#{$palette}-rgb), .3);
  }
}

@mixin button_fill_default_shared() {
  background: var(--app-color-foreground);
  color: var(--app-color-background); 
  
  &:hover, &:focus {
    background: var(--app-color-foreground-shade);
    color: var(--app-color-background);
    text-decoration: none;
  }

  &:focus {
    box-shadow: 0 0 0 .25rem rgba(var(--app-color-foreground-rgb), .3);
  }
}

@mixin button_outline_default_shared() {
  background: none;
  border: var(--app-size-border) solid var(--app-color-foreground);
  color: var(--app-color-foreground);
  
  &:hover, &:focus {
    background: var(--app-color-foreground);
    color: var(--app-color-background);
    text-decoration: none;
  }

  &:focus {
    box-shadow: 0 0 0 .25rem rgba(var(--app-color-foreground-rgb), .3);
  }
}

.button {

  // fill buttons
  & {
    
    /// .button
    & {
      @include button_shared();
      @include button_fill_default_shared();

      // ---
      @each $variant_name, $variant_ratio in $size_variants {
  
        /// .button-sm
        &-#{$variant_name} {
          @include button_shared();
          @include button_fill_default_shared();
          @include make_size_variants($variant_ratio);
        }
      }      
    }

    // ---
    @each $palette in $palettes {
  
      /// .button-primary
      &-#{$palette} {
        @include button_shared();
        @include button_fill_shared($palette);
      }
  
      // ---
      @each $variant_name, $variant_ratio in $size_variants {
  
        /// .button-primary-sm
        &-#{$palette}-#{$variant_name} {
          @include button_shared();
          @include button_fill_shared($palette);
          @include make_size_variants($variant_ratio);
        }
      }
    }
  }

  // link buttons
  &-link {
    @include button_shared();
    
    /// .button-link
    & {
      background: none;
      color: var(--app-color-primary);
      
      &:hover {
        background: none;
        color: var(--app-color-primary-shade);
        text-decoration: underline;
      }

      &:focus {
        box-shadow: 0 0 0 .25rem rgba(var(--app-color-primary-rgb), .3);
      }
    }
  }

  // outline buttons
  &-outline {
    
    /// .button-outline
    & {
      @include button_shared();
      @include button_outline_default_shared();

      // ---
      @each $variant_name, $variant_ratio in $size_variants {
  
        /// .button-outline-sm
        &-#{$variant_name} {
          @include button_shared();
          @include button_outline_default_shared();
          @include make_size_variants($variant_ratio);
        }
      }
    }

    // ---
    @each $palette in $palettes {

      /// .button-outline-primary
      &-#{$palette} {
        @include button_shared();
        @include button_outline_shared($palette);
      }

      // ---
      @each $variant_name, $variant_ratio in $size_variants {
  
        /// .button-outline-primary-sm
        &-#{$palette}-#{$variant_name} {
          @include button_shared();
          @include button_outline_shared($palette);
          @include make_size_variants($variant_ratio);
        }
      }
    }
  }
}
