@import '../variables';

@mixin icon_shared {
  display: inline-block;
  content: '';
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon {

  /// .icon
  & {
    @include icon_shared();
  
    & {
      width: 2rem;
      height: 2rem;
    }
  }

  @each $size in $size_steps {

    /// .icon-1x
    &-#{$size}x {
      @include icon_shared();

      & {
        width: #{$size}rem;
        height: #{$size}rem;
      }
    }
  }
}

button.icon {
  display: inline-block;
  border: none;
  background-color: rgba(0,0,0,0);
  padding: .25rem;

  &, &:hover, &:focus, &:active {
    outline: none !important;
  }
}
