@mixin skeleton-item(
  $shinestart: -5rem,
  $shineend: 7.5rem,
  $shineduration: 2s,
  $bgsize: 15rem,
  $startpos: 0px,
  $middlepos: 5rem,
  $endpos: 7.5rem,
  $basecolor: #F4F4F4,
  $shinecolor: rgba(229,229,229,0.8)
) {
  @keyframes shine {
    0% {
      background-position: $shinestart;
    }
    50%, 100% {
      background-position: $shineend;
    }
  }
  background-image: linear-gradient(90deg, $basecolor $startpos, $shinecolor $middlepos, $basecolor $endpos);
  background-size: $bgsize;
  animation: shine $shineduration infinite ease-out;
}
