$directions: top, right, bottom, left;
$size_steps: 2, 3, 4, 5, 6, 7;
$size_variants: (xs: .6, sm: .8, lg: 1.2, xl: 1.5);
$fonts: head, body, quote, code;
$palettes: primary, secondary, tertiary, success, warning, danger, dark, medium, light;
$palette_variants: contrast, shade, tint;
