<div class="page-install padding">

  <div class="head margin-top">
    <h2>Install</h2>
    <p class="font-lg text-medium-shade">You can use Unitylus with CSS or SCSS</p>
  </div>

  <section class="section-1 margin-top-2x">
    <h3>SCSS</h3>
    <p>Install using NPM.</p>
    <app-code htmlCode="npm install -S @lamnhan/unistylus"></app-code>
  </section>

  <section class="section-2 margin-top-2x">
    <h3>CDN</h3>
    <p>Import css from a CDN.</p>
    <app-code htmlCode="&#x3C;link rel=&#x22;stylesheet&#x22; href=&#x22;https://unpkg.com/@lamnhan/unistylus@latest/css/unistylus.css&#x22;&#x3E;"></app-code>
  </section>

</div>
