<div class="page-badges padding">

  <div class="head margin-top">
    <h2>Badges</h2>
    <p class="font-lg text-medium-shade">Display badges.</p>
  </div>
  
  <div class="imports margin-top">
    <app-code
      title="Minimum imports:"
      showLang="css"
      htmlCode="&#x3C;link rel=&#x22;stylesheet&#x22; href=&#x22;https://unpkg.com/@lamnhan/unistylus@latest/css/components/badges.css&#x22;&#x3E;"
      htmlLabel="CSS"
      cssCode="@import '~@lamnhan/unistylus/src/scss/components/badges';"
      cssLabel="SCSS"
    ></app-code>
  </div>

  <section class="section-1 margin-top-2x">
    
    <div class="content">
      <h3>Badges</h3>
    </div>

    <div class="code">

      <div class="source" #code1>
        <h1>Example heading <span class="badge">New</span></h1><br>
        <h2>Example heading <span class="badge">New</span></h2><br>
        <h3>Example heading <span class="badge">New</span></h3><br>
        <h4>Example heading <span class="badge">New</span></h4><br>
        <h5>Example heading <span class="badge">New</span></h5><br>
        <h6>Example heading <span class="badge">New</span></h6>
      </div>

      <div class="display">
        <app-code [htmlSource]="code1"></app-code>
      </div>

    </div>
  
  </section>

  <section class="section-2 margin-top-2x">
    
    <div class="content">
      <h3>Colors</h3>
    </div>

    <div class="code">

      <div class="source" #code2>
        <span class="badge">Default</span><br>
        <span class="badge-primary">Primary</span><br>
        <span class="badge-secondary">Secondary</span><br>
        <span class="badge-tertiary">Tertiary</span><br>
        <span class="badge-success">Success</span><br>
        <span class="badge-danger">Danger</span><br>
        <span class="badge-warning">Warning</span><br>
        <span class="badge-dark">Dark</span><br>
        <span class="badge-medium">Medium</span><br>
        <span class="badge-light">Light</span>
      </div>

      <div class="display">
        <app-code [htmlSource]="code2"></app-code>
      </div>

    </div>
  
  </section>

  <section class="section-3 margin-top-2x">
    
    <div class="content">
      <h3>Outlines</h3>
    </div>

    <div class="code">

      <div class="source" #code3>
        <span class="badge-outline">Default</span><br>
        <span class="badge-outline-primary">Primary</span><br>
        <span class="badge-outline-secondary">Secondary</span><br>
        <span class="badge-outline-tertiary">Tertiary</span><br>
        <span class="badge-outline-success">Success</span><br>
        <span class="badge-outline-danger">Danger</span><br>
        <span class="badge-outline-warning">Warning</span><br>
        <span class="badge-outline-dark">Dark</span><br>
        <span class="badge-outline-medium">Medium</span><br>
        <span class="badge-outline-light">Light</span>
      </div>

      <div class="display">
        <app-code [htmlSource]="code3"></app-code>
      </div>

    </div>
  
  </section>

  <section class="section-4 margin-top-2x">
    
    <div class="content">
      <h3>Pills</h3>
    </div>

    <div class="code">

      <div class="source" #code4>
        <span class="badge border-pill">Default</span><br>
        <span class="badge-primary border-pill">Primary</span><br>
        <span class="badge-secondary border-pill">Secondary</span><br>
        <span class="badge-tertiary border-pill">Tertiary</span><br>
        <span class="badge-success border-pill">Success</span><br>
        <span class="badge-danger border-pill">Danger</span><br>
        <span class="badge-warning border-pill">Warning</span><br>
        <span class="badge-dark border-pill">Dark</span><br>
        <span class="badge-medium border-pill">Medium</span><br>
        <span class="badge-light border-pill">Light</span>
      </div>

      <div class="display">
        <app-code [htmlSource]="code4"></app-code>
      </div>

    </div>
  
  </section>

  <section class="section-5 margin-top-2x">
    
    <div class="content">
      <h3>Sharps</h3>
    </div>

    <div class="code">

      <div class="source" #code5>
        <span class="badge border-sharp">Default</span><br>
        <span class="badge-primary border-sharp">Primary</span><br>
        <span class="badge-secondary border-sharp">Secondary</span><br>
        <span class="badge-tertiary border-sharp">Tertiary</span><br>
        <span class="badge-success border-sharp">Success</span><br>
        <span class="badge-danger border-sharp">Danger</span><br>
        <span class="badge-warning border-sharp">Warning</span><br>
        <span class="badge-dark border-sharp">Dark</span><br>
        <span class="badge-medium border-sharp">Medium</span><br>
        <span class="badge-light border-sharp">Light</span>
      </div>

      <div class="display">
        <app-code [htmlSource]="code5"></app-code>
      </div>

    </div>
  
  </section>

</div>
