<section class="margin-top">
  <h2 class="border-bottom padding-bottom margin-top-3x margin-bottom">Badges</h2>
  
  <div>
    <h1>Example heading <span class="badge">New</span></h1>
    <h2>Example heading <span class="badge">New</span></h2>
    <h3>Example heading <span class="badge">New</span></h3>
    <h4>Example heading <span class="badge">New</span></h4>
    <h5>Example heading <span class="badge">New</span></h5>
    <h6>Example heading <span class="badge">New</span></h6>
  </div>

  <div class="margin-top">
    <h3>Colors</h3>
    <span class="badge">Default</span>
    <span class="badge-primary margin-left">Primary</span>
    <span class="badge-secondary margin-left">Secondary</span>
    <span class="badge-tertiary margin-left">Tertiary</span>
    <span class="badge-success margin-left">Success</span>
    <span class="badge-danger margin-left">Danger</span>
    <span class="badge-warning margin-left">Warning</span>
    <span class="badge-dark margin-left">Dark</span>
    <span class="badge-medium margin-left">Medium</span>
    <span class="badge-light margin-left">Light</span>
  </div>

  <div class="margin-top">
    <h3>Outline</h3>
    <span class="badge-outline">Default</span>
    <span class="badge-outline-primary margin-left">Primary</span>
    <span class="badge-outline-secondary margin-left">Secondary</span>
    <span class="badge-outline-tertiary margin-left">Tertiary</span>
    <span class="badge-outline-success margin-left">Success</span>
    <span class="badge-outline-danger margin-left">Danger</span>
    <span class="badge-outline-warning margin-left">Warning</span>
    <span class="badge-outline-dark margin-left">Dark</span>
    <span class="badge-outline-medium margin-left">Medium</span>
    <span class="badge-outline-light margin-left">Light</span>
  </div>

  <div class="margin-top">
    <h3>Pill</h3>
    <span class="badge border-pill">Default</span>
    <span class="badge-primary border-pill margin-left">Primary</span>
    <span class="badge-secondary border-pill margin-left">Secondary</span>
    <span class="badge-tertiary border-pill margin-left">Tertiary</span>
    <span class="badge-success border-pill margin-left">Success</span>
    <span class="badge-danger border-pill margin-left">Danger</span>
    <span class="badge-warning border-pill margin-left">Warning</span>
    <span class="badge-dark border-pill margin-left">Dark</span>
    <span class="badge-medium border-pill margin-left">Medium</span>
    <span class="badge-light border-pill margin-left">Light</span>
  </div>

  <div class="margin-top">
    <h3>Sharp</h3>
    <span class="badge border-sharp">Default</span>
    <span class="badge-primary border-sharp margin-left">Primary</span>
    <span class="badge-secondary border-sharp margin-left">Secondary</span>
    <span class="badge-tertiary border-sharp margin-left">Tertiary</span>
    <span class="badge-success border-sharp margin-left">Success</span>
    <span class="badge-danger border-sharp margin-left">Danger</span>
    <span class="badge-warning border-sharp margin-left">Warning</span>
    <span class="badge-dark border-sharp margin-left">Dark</span>
    <span class="badge-medium border-sharp margin-left">Medium</span>
    <span class="badge-light border-sharp margin-left">Light</span>
  </div>
</section>
