<section class="margin-top">
  <h2 class="border-bottom padding-bottom margin-top-3x margin-bottom">Alerts</h2>

  <div>
    <h3>Colors</h3>
    <div class="alert">
      A simple default alert—check it out!
    </div>
    <div class="alert-primary margin-top">
      A simple primary alert—check it out!
    </div>
    <div class="alert-secondary margin-top">
      A simple secondary alert—check it out!
    </div>
    <div class="alert-tertiary margin-top">
      A simple tertiary alert—check it out!
    </div>
    <div class="alert-success margin-top">
      A simple success alert—check it out!
    </div>
    <div class="alert-danger margin-top">
      A simple danger alert—check it out!
    </div>
    <div class="alert-warning margin-top">
      A simple warning alert—check it out!
    </div>
    <div class="alert-dark margin-top">
      A simple dark alert—check it out!
    </div>
    <div class="alert-medium margin-top">
      A simple medium alert—check it out!
    </div>
    <div class="alert-light margin-top">
      A simple light alert—check it out!
    </div>
  </div>

  <div class="margin-top">
    <h3>Outline</h3>
    <div class="alert-outline">
      A simple default alert—check it out!
    </div>
    <div class="alert-outline-primary margin-top">
      A simple primary alert—check it out!
    </div>
    <div class="alert-outline-secondary margin-top">
      A simple secondary alert—check it out!
    </div>
    <div class="alert-outline-tertiary margin-top">
      A simple tertiary alert—check it out!
    </div>
    <div class="alert-outline-success margin-top">
      A simple success alert—check it out!
    </div>
    <div class="alert-outline-danger margin-top">
      A simple danger alert—check it out!
    </div>
    <div class="alert-outline-warning margin-top">
      A simple warning alert—check it out!
    </div>
    <div class="alert-outline-dark margin-top">
      A simple dark alert—check it out!
    </div>
    <div class="alert-outline-medium margin-top">
      A simple medium alert—check it out!
    </div>
    <div class="alert-outline-light margin-top">
      A simple light alert—check it out!
    </div>
  </div>
</section>
