@mixin default-properties {
  // fonts
  --app-font-body: 'Arial', sans-serif;
  --app-font-head: 'Arial', sans-serif;
  --app-font-quote: 'Times New Roman', cursive;
  --app-font-code: 'Consolas', monospace;
  // sizes
  --app-size-radius: 3px;
  --app-size-border: 1px;
  // colors
  --app-color-primary: #3880ff;
  --app-color-primary-contrast: #ffffff;
  --app-color-primary-shade: #3171e0;
  --app-color-primary-tint: #4c8dff;
  --app-color-secondary: #3dc2ff;
  --app-color-secondary-contrast: #ffffff;
  --app-color-secondary-shade: #36abe0;
  --app-color-secondary-tint: #50c8ff;
  --app-color-tertiary: #5260ff;
  --app-color-tertiary-contrast: #ffffff;
  --app-color-tertiary-shade: #4854e0;
  --app-color-tertiary-tint: #6370ff;
  --app-color-success: #2dd36f;
  --app-color-success-contrast: #ffffff;
  --app-color-success-shade: #28ba62;
  --app-color-success-tint: #42d77d;
  --app-color-warning: #ffc409;
  --app-color-warning-contrast: #000000;
  --app-color-warning-shade: #e0ac08;
  --app-color-warning-tint: #ffca22;
  --app-color-danger: #eb445a;
  --app-color-danger-contrast: #ffffff;
  --app-color-danger-shade: #cf3c4f;
  --app-color-danger-tint: #ed576b;
  --app-color-dark: #222428;
  --app-color-dark-contrast: #ffffff;
  --app-color-dark-shade: #1e2023;
  --app-color-dark-tint: #383a3e;
  --app-color-medium: #92949c;
  --app-color-medium-contrast: #ffffff;
  --app-color-medium-shade: #808289;
  --app-color-medium-tint: #9d9fa6;
  --app-color-light: #f4f5f8;
  --app-color-light-contrast: #000000;
  --app-color-light-shade: #d7d8da;
  --app-color-light-tint: #f5f6f9;
  // gradients
  --app-gradient-primary: linear-gradient(90deg, #3880ff 0%, #3171e0 100%);
  --app-gradient-secondary: linear-gradient(90deg, #3dc2ff 0%, #36abe0 100%);
  --app-gradient-tertiary: linear-gradient(90deg, #5260ff 0%, #4854e0 100%);
  --app-gradient-success: linear-gradient(90deg, #2dd36f 0%, #28ba62 100%);
  --app-gradient-warning: linear-gradient(90deg, #ffc409 0%, #e0ac08 100%);
  --app-gradient-danger: linear-gradient(90deg, #eb445a 0%, #cf3c4f 100%);
  --app-gradient-dark: linear-gradient(90deg, #222428 0%, #1e2023 100%);
  --app-gradient-medium: linear-gradient(90deg, #92949c 0%, #808289 100%);
  --app-gradient-light: linear-gradient(90deg, #f4f5f8 0%, #d7d8da 100%);
}
