<div class="page-icons padding">

  <h2 class="margin-bottom">Icons</h2>

  <section class="section-1">

    <div class="content">
      <p>These icons are registered when needed.</p>
      <p>See <a href="https://github.com/lamnhan/unistylus/blob/main/src/scss/app/app.data.scss" target="_blank">the example source</a>.</p>
    </div>

    <div class="code">

      <div class="source" #sec1Code>
        <i class="icon-ok"></i><br>
        <i class="icon-right"></i><br>
        <i class="icon-github"></i>
      </div>
  
      <pre class="display"><code>{{codeService.extractCode(sec1Code)}}</code></pre>

    </div>

  </section>

</div>
