<header class="padding">
  <div class="brand">
    <h1>
      <strong class="text-primary">U</strong>
      <span class="text-secondary">n</span>
      <span class="text-tertiary">i</span>
      <span class="text-success">s</span>
      <span class="text-warning">t</span>
      <span class="text-danger">y</span>
      <span class="text-foreground">l</span>
      <span class="text-medium">u</span>
      <span class="text-secondary">s</span>
    </h1>
  </div>
  <ul class="nav">
    <li>
      <a href="https://lamnhan.com/hire" target="_blank">
        <em>Hire me</em>
        <span>Hire me</span>
      </a>
    </li>
    <li>
      <a href="https://lamnhan.com/donate" target="_blank">
        <em>Buy coffee</em>
        <span>Buy me coffee</span>
      </a>
    </li>
    <li>
      <a href="https://github.com/lamnhan/unistylus" target="_blank">
        <i class="icon-github"></i>
        <span>Source code</span>
      </a>
    </li>
  </ul>
</header>

<main>

  <aside>
    <div class="menu">
      <div class="head">
        <div class="title">Table of content</div>
        <select
          id="themer"
          (change)="selectTheme($event)"
        >
          <option value="light">Light theme</option>
          <option value="dark">Dark theme</option>
        </select>
        <div class="toggler">
          <button
            [class.expanded]="mobileMenuExpanded"
            (click)="mobileMenuExpanded=!mobileMenuExpanded"
          >
            <i class="icon-right"></i>
          </button>
        </div>
      </div>
      <div class="body" [class.expanded]="mobileMenuExpanded">        
        <ul class="menu-items">
          <li *ngFor="let menuItem of menuItems">
            <a
              *ngIf="menuItem.level!==0;else noLinkElse"
              [href]="menuItem.href"
              [routerLink]="menuItem.routerLink"
              [innerHtml]="menuItem.text"
            ></a>
            <ng-template #noLinkElse>
              <strong class="margin-top-2x">{{menuItem.text}}</strong>
            </ng-template>
          </li>
        </ul>
      </div>
    </div>
  </aside>

  <article>
    <router-outlet></router-outlet>
  </article>

</main>

<footer class="padding">
  <div class="attr">
    Developed by <a href="https://lamnhan.com">Lam Nhan</a> with 💝, under the <strong>MIT</strong> license.
  </div>
  <ul class="links">
    <li>
      <a href="mailto:dev@lamnhan.com">Email</a>
    </li>
    <li>
      <a href="https://m.me/lamhiennhan" target="_blank">Messenger</a>
    </li>
    <li>
      <a href="https://github.com/lamnhan" target="_blank">Github</a>
    </li>
  </ul>
</footer>
