main {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-top: 65px;
  min-height: calc(100vh - 65px - 49px - 97px); // header - aside - footer
  display: flex;
  flex-flow: column;

  .page-container {
    flex: 1;
  }
}

@media only screen and (min-width: 768px) {

  main {
    min-height: calc(100vh - 65px - 49px - 57px); // header - aside - footer
  }
}

@media only screen and (min-width: 992px) {

  main {
    min-height: calc(100vh - 65px - 57px); // header - footer
    flex-flow: row;
    flex-wrap: nowrap;

    .sidebar {
      width: 250px;
    }

    .page-container {
      width: calc(100vw - 250px - 4rem);
      margin-left: 2rem;
    }
  }
}
