<header class="padding">
  <div class="brand">
    <h1>
      <strong class="text-primary">U</strong>
      <span class="text-secondary">n</span>
      <span class="text-tertiary">i</span>
      <span class="text-success">s</span>
      <span class="text-warning">t</span>
      <span class="text-danger">y</span>
      <span class="text-foreground">l</span>
      <span class="text-medium">u</span>
      <span class="text-secondary">s</span>
    </h1>
  </div>
  <ul class="nav">
    <li>
      <a href="#" target="_blank">
        <i class="icon-patreon"></i>
        <span>Buy me coffee</span>
      </a>
    </li>
    <li>
      <a href="#" target="_blank">
        <i class="icon-github"></i>
        <span>Source code</span>
      </a>
    </li>
  </ul>
</header>

<main>

  <aside>

  </aside>

  <article>
    <router-outlet></router-outlet>
  </article>

</main>

<footer class="padding">
  <div class="attr">
    Developed by <a href="https://lamnhan.com">Lam Nhan</a> with 💝, under the <strong>MIT</strong> license.
  </div>
  <ul class="links">
    <li>
      <a href="#">Email</a>
    </li>
    <li>
      <a href="#">Messenger</a>
    </li>
    <li>
      <a href="#">Github</a>
    </li>
  </ul>
</footer>
