<div class="page-colors padding">

  <div class="head margin-top">
    <h2>Colors</h2>
    <p class="font-lg text-medium-shade">Text colors.</p>
  </div>
  
  <div class="imports margin-top">
    <app-code
      title="Minimum imports:"
      showLang="css"
      htmlCode="&#x3C;link rel=&#x22;stylesheet&#x22; href=&#x22;https://unpkg.com/@lamnhan/unistylus@latest/css/utilities/colors.css&#x22;&#x3E;"
      htmlLabel="CSS"
      cssCode="@import '~@lamnhan/unistylus/src/scss/utilities/colors';"
      cssLabel="SCSS"
    ></app-code>
  </div>

  <section class="section-1 margin-top-2x">

    <div class="content">
      <h3>Colors</h3>
      <p>Text colors.</p>
    </div>

    <div class="code">

      <div class="source" #code1>
        <h1 class="text">Default</h1><br>
        <h1 class="text-primary">Primary</h1><br>
        <h1 class="text-secondary">Secondary</h1><br>
        <h1 class="text-tertiary">Tertiary</h1><br>
        <h1 class="text-success">Success</h1><br>
        <h1 class="text-warning">Warning</h1><br>
        <h1 class="text-danger">Danger</h1><br>
        <h1 class="text-dark">Dark</h1><br>
        <h1 class="text-medium">Medium</h1><br>
        <h1 class="text-light">Light</h1>
      </div>

      <div class="display">
        <app-code [htmlSource]="code1"></app-code>
      </div>
    </div>
  </section>
  
  <section class="section-2 margin-top-2x">

    <div class="content">
      <h3>Gradients</h3>
      <p>Text gradients.</p>
    </div>

    <div class="code">

      <div class="source" #code2>
        <h1 class="text-gradient-primary">Primary</h1><br>
        <h1 class="text-gradient-secondary">Secondary</h1><br>
        <h1 class="text-gradient-tertiary">Tertiary</h1><br>
        <h1 class="text-gradient-success">Success</h1><br>
        <h1 class="text-gradient-warning">Warning</h1><br>
        <h1 class="text-gradient-danger">Danger</h1><br>
        <h1 class="text-gradient-dark">Dark</h1><br>
        <h1 class="text-gradient-medium">Medium</h1><br>
        <h1 class="text-gradient-light">Light</h1>
      </div>

      <div class="display">
        <app-code [htmlSource]="code2"></app-code>
      </div>
    </div>
  </section>

</div>
