<div class="component-code" #codeComponent>

  <div class="head" *ngIf="isMultiple()">
    <div class="title" [innerHtml]="title"></div>
    <ul class="togglers">
      <li *ngIf="htmlSource || htmlCode">
        <button
          class="button-outline-medium-xs"
          [class.active-html]="showLang==='html'"
          (click)="showLang='html'"
        >{{htmlLabel}}</button>
      </li>
      <li *ngIf="cssCode">
        <button
          class="button-outline-medium-xs"
          [class.active-css]="showLang==='css'"
          (click)="showLang='css'"
        >{{cssLabel}}</button>
      </li>
      <li *ngIf="jsCode">
        <button
          class="button-outline-medium-xs"
          [class.active-js]="showLang==='js'"
          (click)="showLang='js'"
        >{{jsLabel}}</button>
      </li>
    </ul>
  </div>

  <div class="body" *ngIf="showLang">

    <div class="html" [class.active]="showLang==='html'">
      <pre *ngIf="htmlSource; else htmlCodeElse">
        <code class="language-html">{{codeService.extractCode(htmlSource)}}</code>
      </pre>
      <ng-template #htmlCodeElse>
        <pre><code class="language-html">{{htmlCode}}</code></pre>
      </ng-template>
    </div>

    <div class="css" [class.active]="showLang==='css'">
      <pre><code class="language-css">{{cssCode}}</code></pre>
    </div>
    
    <div class="js" [class.active]="showLang==='js'">
      <pre><code class="language-js">{{jsCode}}</code></pre>
    </div>
  </div>

</div>
