<div class="page-reboot padding">

  <div class="head margin-top">
    <h2>Reboot</h2>
    <p class="font-lg text-medium-shade">We use <a href="https://getbootstrap.com/docs/5.0/content/reboot/" target="_blank">Bootstrap Reboot</a>.</p>
  </div>

  <div class="imports margin-top">
    <app-code
      title="Minimum imports:"
      showLang="css"
      htmlCode="&#x3C;link rel=&#x22;stylesheet&#x22; href=&#x22;https://unpkg.com/@lamnhan/unistylus@latest/css/content/reboot.css&#x22;&#x3E;"
      htmlLabel="CSS"
      cssCode="@import '~@lamnhan/unistylus/src/scss/content/reboot';"
      cssLabel="SCSS"
    ></app-code>
  </div>

</div>