<div class="page-reboot padding">

  <section class="section-1">

    <h2 class="margin-bottom">Reboot</h2>

    <div class="imports margin-bottom">
      <app-code
        title="Minimum imports:"
        showLang="css"
        htmlCode="&#x3C;link rel=&#x22;stylesheet&#x22; href=&#x22;https://unpkg.com/@lamnhan/unistylus@latest/css/content/reboot.css&#x22;&#x3E;"
        htmlLabel="CSS"
        cssCode="@import '~@lamnhan/unistylus/src/scss/content/reboot';"
        cssLabel="SCSS"
      ></app-code>
    </div>
  
    <div class="content">
      <p>
        We use Bootstrap <a href="https://getbootstrap.com/docs/5.0/content/reboot/" target="_blank">reboot.scss</a>.
      </p>
    </div>

  </section>

</div>