<div class="page-home">

  <div class="heading">
    <h1>
      <span class="text-primary">U</span>
      <span class="text-secondary">n</span>
      <span class="text-tertiary">i</span>
      <span class="text-success">s</span>
      <span class="text-warning">t</span>
      <span class="text-danger">y</span>
      <span class="text-primary">l</span>
      <span class="text-medium">u</span>
      <span class="text-foreground">s</span>
    </h1>
    <p>A <strong class="text-foreground">modern</strong>, <strong class="text-foreground">clean</strong> and <strong class="text-foreground">light weight</strong> CSS theming system.</p>
  </div>

  <div class="cta">
    <a
      class="button-primary-xl"
      [routerLink]="['/getting-started', 'install']"
    >Use it now!</a>
    <a
      class="source-code button-outline-medium-xl"
      href="https://github.com/lamnhan/unistylus"
      target="_blank"
    >
      <i class="icon icon-github"></i>
      <span>Source code</span>
    </a>
  </div>

</div>
