<main class="padding">

  <section>
    <h2 class="border-bottom padding-bottom margin-top-3x margin-bottom">Paragraph, link</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta beatae quia, dolorem obcaecati fugit repudiandae
      placeat alias ea soluta deserunt atque animi, impedit numquam quos distinctio cumque voluptatibus libero.
      Corrupti?</p>

    <p><a href="#">This is a link!</a></p>
  </section>

  <section>
    <h2 class="border-bottom padding-bottom margin-top-3x margin-bottom">Headings</h2>

    <h1>h1. Typography</h1>
    <h2>h2. Typography</h2>
    <h3>h3. Typography</h3>
    <h4>h4. Typography</h4>
    <h5>h5. Typography</h5>
    <h6>h6. Typography</h6>
  </section>

  <section>
    <h2 class="border-bottom padding-bottom margin-top-3x margin-bottom">Text colors</h2>

    <h1 class="text">text (default)</h1>
    <h1 class="text-primary">text-primary</h1>
    <h2 class="text-secondary">text-secondary</h2>
    <h3 class="text-tertiary">text-tertiary</h3>
    <h4 class="text-success">text-success</h4>
    <h5 class="text-warning">text-warning</h5>
    <h6 class="text-danger">text-danger</h6>
    <h6 class="text-dark background-light" style="display: inline-block;">text-dark</h6>
    <h6 class="text-medium">text-medium</h6>
    <h6 class="text-light background-dark" style="display: inline-block;">text-light</h6>
  </section>

  <section>
    <h2 class="border-bottom padding-bottom margin-top-3x margin-bottom">Text gradients</h2>

    <h1 class="text-gradient-primary">text-gradient-primary</h1>
    <h2 class="text-gradient-secondary">text-gradient-secondary</h2>
    <h3 class="text-gradient-tertiary">text-gradient-tertiary</h3>
    <h4 class="text-gradient-success">text-gradient-success</h4>
    <h5 class="text-gradient-warning">text-gradient-warning</h5>
    <h6 class="text-gradient-danger">text-gradient-danger</h6>
    <div class="background-light" style="display: inline-block;">
      <h6 class="text-gradient-dark">text-gradient-dark</h6>
    </div>
    <h6 class="text-gradient-medium">text-gradient-medium</h6>
    <div class="background-dark" style="display: inline-block;">
      <h6 class="text-gradient-light">text-gradient-light</h6>
    </div>
  </section>

  <section>
    <h2 class="border-bottom padding-bottom margin-top-3x margin-bottom">Background colors</h2>

    <div class="background" style="width: 300px; height: 20px;">background (default)</div>
    <div class="background-primary text-primary-contrast" style="width: 300px; height: 20px;">background-primary</div>
    <div class="background-secondary text-secondary-contrast" style="width: 300px; height: 20px;">background-secondary
    </div>
    <div class="background-tertiary text-tertiary-contrast" style="width: 300px; height: 20px;">background-tertiary
    </div>
    <div class="background-success text-success-contrast" style="width: 300px; height: 20px;">background-success</div>
    <div class="background-warning text-warning-contrast" style="width: 300px; height: 20px;">background-warning</div>
    <div class="background-danger text-danger-contrast" style="width: 300px; height: 20px;">background-danger</div>
    <div class="background-dark text-dark-contrast" style="width: 300px; height: 20px;">background-dark</div>
    <div class="background-medium text-medium-contrast" style="width: 300px; height: 20px;">background-medium</div>
    <div class="background-light text-light-contrast" style="width: 300px; height: 20px;">background-light</div>
  </section>

  <section>
    <h2 class="border-bottom padding-bottom margin-top-3x margin-bottom">Background gradients</h2>

    <div class="background-gradient-primary text-primary-contrast" style="width: 300px; height: 20px;">background-gradient-primary</div>
    <div class="background-gradient-secondary text-secondary-contrast" style="width: 300px; height: 20px;">background-gradient-secondary</div>
    <div class="background-gradient-tertiary text-tertiary-contrast" style="width: 300px; height: 20px;">background-gradient-tertiary</div>
    <div class="background-gradient-success text-success-contrast" style="width: 300px; height: 20px;">background-gradient-success</div>
    <div class="background-gradient-warning text-warning-contrast" style="width: 300px; height: 20px;">background-gradient-warning</div>
    <div class="background-gradient-danger text-danger-contrast" style="width: 300px; height: 20px;">background-gradient-danger</div>
    <div class="background-gradient-dark text-dark-contrast" style="width: 300px; height: 20px;">background-gradient-dark</div>
    <div class="background-gradient-medium text-medium-contrast" style="width: 300px; height: 20px;">background-gradient-medium</div>
    <div class="background-gradient-light text-light-contrast" style="width: 300px; height: 20px;">background-gradient-light</div>
  </section>

  <section>
    <h2 class="border-bottom padding-bottom margin-top-3x margin-bottom">Icons</h2>

    <p><i class="icon-ok"></i> icon-ok</p>
  </section>

  <section>
    <h2 class="border-bottom padding-bottom margin-top-3x margin-bottom">Table</h2>

    <p>table</p>
    <table class="table margin-bottom-2x">
      <thead>
        <tr><th>#</th><th>Name</th><th>Age</th></tr>
      </thead>
      <tbody>
        <tr><th>1</th><td>Alex</td><td>10</td></tr>
        <tr><th>2</th><td>Bob</td><td>7</td></tr>
        <tr><th>3</th><td>Chris</td><td>12</td></tr>
      </tbody>
    </table>
    <p>table-primary</p>
    <table class="table-primary margin-bottom-2x">
      <thead>
        <tr><th>#</th><th>Name</th><th>Age</th></tr>
      </thead>
      <tbody>
        <tr><th>1</th><td>Alex</td><td>10</td></tr>
        <tr><th>2</th><td>Bob</td><td>7</td></tr>
        <tr><th>3</th><td>Chris</td><td>12</td></tr>
      </tbody>
    </table>
    <p>table-secondary</p>
    <table class="table-secondary margin-bottom-2x">
      <thead>
        <tr><th>#</th><th>Name</th><th>Age</th></tr>
      </thead>
      <tbody>
        <tr><th>1</th><td>Alex</td><td>10</td></tr>
        <tr><th>2</th><td>Bob</td><td>7</td></tr>
        <tr><th>3</th><td>Chris</td><td>12</td></tr>
      </tbody>
    </table>
    <p>table-tertiary</p>
    <table class="table-tertiary margin-bottom-2x">
      <thead>
        <tr><th>#</th><th>Name</th><th>Age</th></tr>
      </thead>
      <tbody>
        <tr><th>1</th><td>Alex</td><td>10</td></tr>
        <tr><th>2</th><td>Bob</td><td>7</td></tr>
        <tr><th>3</th><td>Chris</td><td>12</td></tr>
      </tbody>
    </table>

    <p>table-borderless</p>
    <table class="table-borderless margin-bottom-2x">
      <thead>
        <tr><th>#</th><th>Name</th><th>Age</th></tr>
      </thead>
      <tbody>
        <tr><th>1</th><td>Alex</td><td>10</td></tr>
        <tr><th>2</th><td>Bob</td><td>7</td></tr>
        <tr><th>3</th><td>Chris</td><td>12</td></tr>
      </tbody>
    </table>
    <p>table-borderless-success</p>
    <table class="table-borderless-success margin-bottom-2x">
      <thead>
        <tr><th>#</th><th>Name</th><th>Age</th></tr>
      </thead>
      <tbody>
        <tr><th>1</th><td>Alex</td><td>10</td></tr>
        <tr><th>2</th><td>Bob</td><td>7</td></tr>
        <tr><th>3</th><td>Chris</td><td>12</td></tr>
      </tbody>
    </table>

    <p>table-bordered</p>
    <table class="table-bordered margin-bottom-2x">
      <thead>
        <tr><th>#</th><th>Name</th><th>Age</th></tr>
      </thead>
      <tbody>
        <tr><th>1</th><td>Alex</td><td>10</td></tr>
        <tr><th>2</th><td>Bob</td><td>7</td></tr>
        <tr><th>3</th><td>Chris</td><td>12</td></tr>
      </tbody>
    </table>
    <p>table-bordered-warning</p>
    <table class="table-bordered-warning margin-bottom-2x">
      <thead>
        <tr><th>#</th><th>Name</th><th>Age</th></tr>
      </thead>
      <tbody>
        <tr><th>1</th><td>Alex</td><td>10</td></tr>
        <tr><th>2</th><td>Bob</td><td>7</td></tr>
        <tr><th>3</th><td>Chris</td><td>12</td></tr>
      </tbody>
    </table>

    <p>table-striped</p>
    <table class="table-striped margin-bottom-2x">
      <thead>
        <tr><th>#</th><th>Name</th><th>Age</th></tr>
      </thead>
      <tbody>
        <tr><th>1</th><td>Alex</td><td>10</td></tr>
        <tr><th>2</th><td>Bob</td><td>7</td></tr>
        <tr><th>3</th><td>Chris</td><td>12</td></tr>
      </tbody>
    </table>
    <p>table-striped-danger</p>
    <table class="table-striped-danger margin-bottom-2x">
      <thead>
        <tr><th>#</th><th>Name</th><th>Age</th></tr>
      </thead>
      <tbody>
        <tr><th>1</th><td>Alex</td><td>10</td></tr>
        <tr><th>2</th><td>Bob</td><td>7</td></tr>
        <tr><th>3</th><td>Chris</td><td>12</td></tr>
      </tbody>
    </table>

    <p>table-hover</p>
    <table class="table-hover margin-bottom-2x">
      <thead>
        <tr><th>#</th><th>Name</th><th>Age</th></tr>
      </thead>
      <tbody>
        <tr><th>1</th><td>Alex</td><td>10</td></tr>
        <tr><th>2</th><td>Bob</td><td>7</td></tr>
        <tr><th>3</th><td>Chris</td><td>12</td></tr>
      </tbody>
    </table>
    <p>table-hover-dark</p>
    <table class="table-hover-dark margin-bottom-2x">
      <thead>
        <tr><th>#</th><th>Name</th><th>Age</th></tr>
      </thead>
      <tbody>
        <tr><th>1</th><td>Alex</td><td>10</td></tr>
        <tr><th>2</th><td>Bob</td><td>7</td></tr>
        <tr><th>3</th><td>Chris</td><td>12</td></tr>
      </tbody>
    </table>
    <p>table-hover-medium</p>
    <table class="table-hover-medium margin-bottom-2x">
      <thead>
        <tr><th>#</th><th>Name</th><th>Age</th></tr>
      </thead>
      <tbody>
        <tr><th>1</th><td>Alex</td><td>10</td></tr>
        <tr><th>2</th><td>Bob</td><td>7</td></tr>
        <tr><th>3</th><td>Chris</td><td>12</td></tr>
      </tbody>
    </table>
    <p>table-hover-light</p>
    <table class="table-hover-light margin-bottom-2x">
      <thead>
        <tr><th>#</th><th>Name</th><th>Age</th></tr>
      </thead>
      <tbody>
        <tr><th>1</th><td>Alex</td><td>10</td></tr>
        <tr><th>2</th><td>Bob</td><td>7</td></tr>
        <tr><th>3</th><td>Chris</td><td>12</td></tr>
      </tbody>
    </table>
  </section>

  <section>
    <h2 class="border-bottom padding-bottom margin-top-3x margin-bottom">Images</h2>

    <div>
      <p>Image in a fluid container.</p>
      <img class="img" src="https://via.placeholder.com/500x400">
    </div>

    <figure class="figure margin-top-2x" style="width: 500px;">
      <p>Image in a fixed 500px container.</p>
      <img class="img" src="https://via.placeholder.com/500x400">
      <figcaption class="figure-caption">A caption for the above image.</figcaption>
    </figure>
  </section>

</main>
