@import '../variables';

@mixin make_size_variants($variant_ratio) {
  padding: (.375rem * $variant_ratio) (.75rem * $variant_ratio);
  font-size: calc(#{$variant_ratio} * var(--app-size-font));
}

@mixin form_control_base {
  display: block;
  background: var(--app-color-background);
  color: var(--app-color-foreground);
  border: var(--app-size-border) solid var(--app-color-medium);
  border-radius: var(--app-size-radius);
  padding: .375rem .75rem;
  width: 100%;

  & + & {
    margin-top: .5rem;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(var(--app-color-primary-rgb), .3);
  }

  &:disabled, &[readonly] {
    opacity: 1;
    background: var(--app-color-background-shade);
    border-color: var(--app-color-medium);
  }

  &[type=file] {
    overflow: hidden;

    &:not(:disabled):not([readonly]) {
      cursor: pointer;
    }
  }
}

@mixin form_control_color_base($palette) {
  border-color: var(--app-color-#{$palette});
  color: var(--app-color-#{$palette});

  &:focus {
    border-color: var(--app-color-#{$palette}-shade);
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(var(--app-color-#{$palette}-rgb), .3);
  }
}

/// .form-label
.form-label {
  display: inline-block;
  margin-bottom: .5rem;
}

// textual input
.form-control {

  // default
  & {

    /// .form-control
    & {
      @include form_control_base();

      &:focus {
        border-color: var(--app-color-primary);
      }
    }

    // ---
    @each $variant_name, $variant_ratio in $size_variants {

      /// .form-control-sm
      &-#{$variant_name} {
        @include form_control_base();
        @include make_size_variants($variant_ratio);
      }
    }
  }

  // colors
  // ---
  @each $palette in $palettes {
    
    /// .form-control-primary
    &-#{$palette} {
      @include form_control_base();
      @include form_control_color_base($palette);

      // ---
      @each $variant_name, $variant_ratio in $size_variants {

        /// .form-control-primary-sm
        &-#{$variant_name} {
          @include form_control_base();
          @include form_control_color_base($palette);
          @include make_size_variants($variant_ratio);
        }
      }
    }
  }
}
