@import '../variables';

@mixin make_size_variants($variant_ratio) {
  padding: calc(.375 * #{$variant_ratio} * var(--app-size-padding)) calc(.75 * #{$variant_ratio} * var(--app-size-padding));
  font-size: calc(#{$variant_ratio} * var(--app-size-font));
}

@mixin form_control_shared {
  display: block;
  background: var(--app-color-background);
  color: var(--app-color-foreground);
  border: var(--app-size-border) solid var(--app-color-medium);
  border-radius: var(--app-size-radius);
  padding: calc(.375 * var(--app-size-padding)) calc(.75 * var(--app-size-padding));
  width: 100%;

  & + & {
    margin-top: calc(.5 * var(--app-size-margin));
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 calc(.25 * var(--app-size-padding)) rgba(var(--app-color-primary-rgb), .3);
  }

  &:disabled, &[readonly] {
    opacity: 1;
    background: var(--app-color-background-shade);
    border-color: var(--app-color-medium);
  }

  &[type=file] {
    overflow: hidden;

    &:not(:disabled):not([readonly]) {
      cursor: pointer;
    }
  }
}

@mixin form_control_color_shared($palette) {
  border-color: var(--app-color-#{$palette});
  color: var(--app-color-#{$palette});

  &:focus {
    border-color: var(--app-color-#{$palette}-shade);
    outline: 0;
    box-shadow: 0 0 0 calc(.25 * var(--app-size-padding)) rgba(var(--app-color-#{$palette}-rgb), .3);
  }
}

.form {

  /// .form-label
  &-label {
    display: inline-block;
    margin-bottom: calc(.5 * var(--app-size-padding));
  }

  // textual input
  &-control {

    // default
    & {

      /// .form-control
      & {
        @include form_control_shared();

        &:focus {
          border-color: var(--app-color-primary);
        }
      }

      // ---
      @each $variant_name, $variant_ratio in $size_variants {
  
        /// .form-control-sm
        &-#{$variant_name} {
          @include form_control_shared();
          @include make_size_variants($variant_ratio);
        }
      }
    }

    // colors
    // ---
    @each $palette in $palettes {
      
      /// .form-control-primary
      &-#{$palette} {
        @include form_control_shared();
        @include form_control_color_shared($palette);

        // ---
        @each $variant_name, $variant_ratio in $size_variants {

          /// .form-control-primary-sm
          &-#{$variant_name} {
            @include form_control_shared();
            @include form_control_color_shared($palette);
            @include make_size_variants($variant_ratio);
          }
        }
      }
    }
  }

  &-select {}

  &-check {}

  &-range {}
}
