@import '../variables';

@mixin form_control_shared {
  display: block;
  background: var(--app-color-background);
  border: var(--app-size-border) solid var(--app-color-medium);
  border-radius: var(--app-size-radius);
  padding: calc(.375 * var(--app-size-padding)) calc(.75 * var(--app-size-padding));
  width: 100%;

  & + & {
    margin-top: calc(.5 * var(--app-size-margin));
  }

  &:focus {
    color: var(--app-color-foreground);
    border-color: var(--app-color-primary-tint);
    outline: 0;
    box-shadow: 0 0 0 var(--app-form-focus-size, 0.25rem) var(--app-form-focus-color, rgb(13 110 253 / 25%));
  }

  &:disabled, &[readonly] {
    opacity: 1;
    background: var(--app-color-background-shade);
  }

  &[type=file] {
    overflow: hidden;

    &:not(:disabled):not([readonly]) {
      cursor: pointer;
    }
  }
}

.form {

  /// .form-label
  &-label {
    display: inline-block;
    margin-bottom: calc(.5 * var(--app-size-padding));
  }

  // textual input
  &-control {

    /// .form-control
    & {
      @include form_control_shared();
    }

    // ---
    @each $variant_name, $variant_ratio in $size_variants {

      /// .form-control-sm
      &-#{$variant_name} {
        @include form_control_shared();

        & {
          padding: calc(.375 * #{$variant_ratio} * var(--app-size-padding)) calc(.75 * #{$variant_ratio} * var(--app-size-padding));
          font-size: calc(#{$variant_ratio} * var(--app-size-font));
        }
      }
    }
  }

  &-select {}

  &-check {}

  &-range {}
}
