 @mixin button($key: 'primary', $size: 'normal', $style: 'normal', $shape: 'sharp') {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  @if $style == 'clear' {
    background: none;
    color: app-color($key);
  } @else if $style == 'outline' {
    @include border-all($key);
    background: none;
    color: app-color($key);
  } @else {
    background: app-color($key);
    color: app-color($key, 'contrast');
  }
  @if $size == 'small' {
    font-size: .8rem;
    padding: .4rem .8rem;
  } @else if $size == 'large' {
    font-size: 1.2rem;
    padding: .6rem 1.2rem;
  } @else {
    font-size: 1rem;
    padding: .5rem 1rem;
  }
  @if $shape == 'ease' {
    border-radius: app-size('radius');
  } @else if $shape == 'pill' {
    border-radius: 500px;
  } @else if $shape == 'round' {
    @if $size == 'small' {
      width: 24px;
      height: 24px;
    } @else if $size == 'large' {
      width: 48px;
      height: 48px;
    } @else {
      width: 32px;
      height: 32px;
    }
    border-radius: 100%;
  } @else {
    border-radius: none;
  }
  &, &:focus {
    outline: 0;
  }
  &[disabled] {
    opacity: .5;
  }
}

@mixin button-icon($key: 'primary', $size: 'normal', $style: 'normal', $shape: 'sharp') {
  @include button($key, $size, $style);
  @if $size == 'small' {
    padding: .4rem;
  } @else if $size == 'large' {
    padding: .6rem;
  } @else {
    padding: .5rem;
  }
  img, i, .icon {
    display: inline-block;
    width: 100%;
    height: 100%;
    max-height: 2rem;
    max-width: 2rem;
  }
}

@mixin button-gradient($key: 'primary', $size: 'normal', $style: 'normal', $shape: 'sharp') {
  @include button($key, $size, $style);
  background: app-gradient($key);
}
