@mixin border-top($key: 'medium', $style: 'solid') {
  border-top: #{app-size('border')} #{$style} #{app-color($key)};
}
@mixin border-right($key: 'medium', $style: 'solid') {
  border-right: #{app-size('border')} #{$style} #{app-color($key)};
}
@mixin border-bottom($key: 'medium', $style: 'solid') {
  border-bottom: #{app-size('border')} #{$style} #{app-color($key)};
}
@mixin border-left($key: 'medium', $style: 'solid') {
  border-left: #{app-size('border')} #{$style} #{app-color($key)};
}
@mixin border-all($key: 'medium', $style: 'solid') {
  border: #{app-size('border')} #{$style} #{app-color($key)};
}

@mixin max-width($width) {
  max-width: $width;
  margin: auto;  
}

@mixin truncate-text($width) {
  width: $width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
