<div class="page-spacing padding">

  <div class="head margin-top">
    <h2>Spacing</h2>
    <p class="font-lg text-medium-shade">// TODO</p>
  </div>
  
  <div class="imports margin-top">
    <app-code
      title="Minimum imports:"
      showLang="css"
      htmlCode="&#x3C;link rel=&#x22;stylesheet&#x22; href=&#x22;https://unpkg.com/@lamnhan/unistylus@latest/css/utilities/spacing.css&#x22;&#x3E;"
      htmlLabel="CSS"
      cssCode="@import '~@lamnhan/unistylus/src/scss/utilities/spacing';"
      cssLabel="SCSS"
    ></app-code>
  </div>

</div>
