<div class="page-spacing padding">

  <div class="head margin-top">
    <h2>Spacing</h2>
    <p class="font-lg text-medium-shade">Set paddings and margins.</p>
  </div>
  
  <div class="imports margin-top">
    <app-code
      title="Minimum imports:"
      showLang="css"
      htmlCode="&#x3C;link rel=&#x22;stylesheet&#x22; href=&#x22;https://unpkg.com/@lamnhan/unistylus@latest/css/utilities/spacing.css&#x22;&#x3E;"
      htmlLabel="CSS"
      cssCode="@import '~@lamnhan/unistylus/src/scss/utilities/spacing';"
      cssLabel="SCSS"
    ></app-code>
  </div>

  <section class="section-1 margin-top-2x">

    <div class="content">
      <h3>Paddings</h3>
      <p>Set paddings, default to 1rem.</p>
    </div>

    <div class="code">

      <div class="source" #code1>
        <div class="padding background-primary">All</div><br>
        <div class="padding-2x background-secondary">2x</div><br>
        <div class="padding-3x background-primary">3x</div><br>
        <div class="padding-top background-secondary">Top only</div><br>
        <div class="padding-right background-primary">Right only</div><br>
        <div class="padding-bottom-2x background-secondary">Bottom only</div><br>
        <div class="padding-left-3x background-primary">Left only</div>
      </div>

      <div class="display">
        <app-code [htmlSource]="code1"></app-code>
      </div>
    </div>
  </section>

  <section class="section-2 margin-top-2x">

    <div class="content">
      <h3>Margins</h3>
      <p>Set margins, default to 1rem.</p>
    </div>

    <div class="code">

      <div class="source" #code2>
        <div class="margin background-primary">All</div><br>
        <div class="margin-2x background-secondary">2x</div><br>
        <div class="margin-3x background-primary">3x</div><br>
        <div class="margin-top background-secondary">Top only</div><br>
        <div class="margin-right background-primary">Right only</div><br>
        <div class="margin-bottom-2x background-secondary">Bottom only</div><br>
        <div class="margin-left-3x background-primary">Left only</div>
      </div>

      <div class="display">
        <app-code [htmlSource]="code2"></app-code>
      </div>
    </div>
  </section>

</div>
