body, [data-theme] {
  background: var(--app-color-background);
  color: var(--app-color-foreground);
  font-family: var(--app-font-body);

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--app-font-head);
  }
  
  a {
    color: var(--app-color-primary);
  }
}
