$directions: top, right, bottom, left;
$size_steps: 2, 3, 4, 5, 6, 7;

$fonts: head, body, quote, code;

$palettes: primary, secondary, tertiary, success, warning, danger, dark, medium, light;
$palette_variants: contrast, shade, tint;
