<div class="page-customize-theme padding">

  <div class="head margin-top">
    <h2>Customize theme</h2>
    <p class="font-lg text-medium-shade">Change how built-in theme looks</p>
  </div>

  <section class="section-1 margin-top-2x">
    <p>To customize a built-in theme:</p>
    <app-code [cssCode]="cssCode"></app-code>
  </section>

  <section class="section-2 margin-top-2x">
    <h3>List of properties</h3>
    <p>See, <a href="https://github.com/lamnhan/unistylus/blob/main/projects/unistylus/src/scss/properties/_default.scss" target="_blank">list of CSS variables</a> for customization.</p>
  </section>

</div>
