<div class="page-contribute padding">

  <div class="head margin-top">
    <h2>Contribute</h2>
    <p class="font-lg text-medium-shade">Welcome, want to lend a hand?</p>
  </div>

  <section class="section-1 margin-top-2x">
    <h3>Add features</h3>
    <p>See the <a href="https://getbootstrap.com/docs/5.0/getting-started/introduction/" target="_blank">Bootstrap Docs</a> for suggestions:</p>
    <ul>
      <li>Layout: <strong>Containers</strong>, <strong>Grid</strong>, ...</li>
      <li>Components: <strong>Card</strong>, <strong>Modal</strong>, <strong>Toast</strong>, ...</li>
      <li>Utilities: <strong>API</strong>, <strong>Sizing</strong>, ...</li>
    </ul>
  </section>

  <section class="section-2 margin-top-2x">
    <h3>Fix bugs</h3>
    <p>Spot broken things? Please submit issues or make a pull request.</p>
  </section>

  <section class="section-3 margin-top-2x">
    <h3>Write docs</h3>
    <p>This docs need more articles.</p>
  </section>
  
  <section class="section-4 margin-top-2x">
    <h3>Contributors</h3>
    <ul>
      <li><a href="https://lamnhan.com" target="_blank">Lam Nhan</a></li>
    </ul>
  </section>

</div>
