@import '../variables';

.background {

  /// default
  &, &-default {

    /// default background
    /// @example: .background, .background-default
    & {
      background: var(--app-color-background);
      color: var(--app-color-foreground);
    }

    // ---
    @each $variant in $palette_variants {

      /// default background variant
      /// @example: .background-shade, .background-default-shade
      &-#{$variant} {
        color: var(--app-color-background-#{$variant});
      }
    }
  }

  // ---
  @each $palette in $palettes {

    /// custom color
    /// @example: .background-primary
    &-#{$palette} {
      background: var(--app-color-#{$palette});
      color: var(--app-color-#{$palette}-contrast);
    }

    // ---
    @each $variant in $palette_variants {

      /// custom color variant
      /// @example: .background-primary-shade
      &-#{$palette}-#{$variant} {
        background: var(--app-color-#{$palette}-#{$variant});
      }
    }
  }

  // ---
  @each $palette in $palettes {

    /// custom gradient
    /// @example: .background-gradient-primary
    &-gradient-#{$palette} {
      background: var(--app-gradient-#{$palette});
      color: var(--app-color-#{$palette}-contrast);
    }
  }
}
