@import '../variables';

.border {

  // ease
  & {
    /// medium palette, all directions
    /// @example: .border

    & {
      border: var(--app-size-border) solid var(--app-color-medium);
      border-radius: var(--app-size-radius);
    }

    // ---
    @each $direction in $directions {
  
      /// medium palette, one direction
      /// @example: .border-left
      &-#{$direction} {
        border-#{$direction}: var(--app-size-border) solid var(--app-color-medium);
      }
    }
  
    // ---
    @each $palette in $palettes {
  
      /// custom palette, all directions
      /// @example: .border-primary
      &-#{$palette} {
        border: var(--app-size-border) solid var(--app-color-#{$palette});
        border-radius: var(--app-size-radius);
      }
  
      // ---
      @each $direction in $directions {
  
        /// custom palette, one direction
        /// @example: .border-left-primary
        &-#{$direction}-#{$palette} {
          border-#{$direction}: var(--app-size-border) solid var(--app-color-#{$palette});
        }
      }
  
      // ---
      @each $variant in $palette_variants {
  
        /// custom palette variant, all directions
        /// @example: .border-primary-shade
        &-#{$palette}-#{$variant} {
          border: var(--app-size-border) solid var(--app-color-#{$palette}-#{$variant});
          border-radius: var(--app-size-radius);
        }
  
        // ---
        @each $direction in $directions {
  
          /// custom palette variant, one direction
          /// @example: .border-left-primary-shade
          &-#{$direction}-#{$palette}-#{$variant} {
            border-#{$direction}: var(--app-size-border) solid var(--app-color-#{$palette}-#{$variant});
          }
        }
      }
    }
  }

  // ease
  &-ease {
    border-radius: var(--app-size-radius) !important;
  }

  // pill
  &-pill {
    border-radius: 1000px !important;
  }
  
  // sharp
  &-sharp {
    border-radius: 0 !important;
  }

  // no border
  &-none {
    border: none !important;
  }
}
