@import '../variables';

.margin {

  /// all directions
  /// @example: .margin
  & {
    margin: 1rem;
  }

  // ---
  @each $step in $size_steps {

    /// all directions, custom size
    /// @example: .margin-2x
    &-#{$step}x {
      margin: #{$step}rem;
    }
  }

  // ---
  @each $direction in $directions {

    /// one direction
    /// @example: .margin-left
    &-#{$direction} {
      margin-#{$direction}: 1rem;
    }

    // ---
    @each $step in $size_steps {

      /// one direction, custom size
      /// @example: .margin-left-2x
      &-#{$direction}-#{$step}x {
        margin-#{$direction}: #{$step}rem;
      }
    }
  }
}

.padding {

  /// all directions
  /// @example: .padding
  & {
    padding: 1rem;
  }

  // ---
  @each $step in $size_steps {

    /// all directions, custom size
    /// @example: .padding-2x
    &-#{$step}x {
      padding: #{$step}rem;
    }
  }

  // ---
  @each $direction in $directions {

    /// one direction
    /// @example: .padding-left
    &-#{$direction} {
      padding-#{$direction}: 1rem;
    }

    // ---
    @each $step in $size_steps {

      /// one direction, custom size
      /// @example: .padding-left-2x
      &-#{$direction}-#{$step}x {
        padding-#{$direction}: #{$step}rem;
      }
    }
  }
}
